.calendar-month-selector {
  display: flex;
}

.calendar-month-selector__item {
  > div {
    padding: .5rem;
  }
  &:nth-child(1) {
    flex: 1;
    text-align: left;
    color: $link;
    text-decoration: underline;
    cursor: pointer;
  }
  &:nth-child(2) {
    flex: 0 0 8rem;
    text-align: center;
    font-weight: 700;
  }
  &:nth-child(3) {
    flex: 1;
    text-align: right;
    color: $link;
    text-decoration: underline;
    cursor: pointer;
  }
}

.calendar-day-selector__table {
  th,
  td,
  th:not([align]),
  td:not([align]) {
    text-align: center;
  }
  tbody td {
    color: $text;
    cursor: pointer;

    .game-date {
      text-decoration: underline;
      color: $link;
    }
  }

  tbody td:hover {
    text-decoration: none;
    color: $text;
    background-color: $hover-background;
  }
}
