.create-diary-action {
  position: fixed;
  bottom: 7rem;
  left: 0;
  right: 0;
  pointer-events: none;
}

.create-diary-action__inner {
  display: flex;
  justify-content: flex-end;
}

.create-diary-action__link {
  background-color: $primary;
  color: white;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  pointer-events: all;
}

.create-diary-action__icon {
  font-size: 1.625rem;
}

.create-diary-action__label {
  font-size: .625rem;
  margin-top: -.25rem;
}
