.index-container {
  padding: 0.5rem;
  border-bottom: solid #adadad;
  border-width: 2px;
}

.diary-index-title {
  font-size: 16px;
  font-weight: 700;

  span {
  font-size: 14px;
  font-weight: 400;
  }
}
