.index-container {
  padding: 0.5rem;
  border-bottom: solid #adadad;
  border-width: 2px;
}

.diary-index__card {
  font-size: 16px;
  font-weight: 700;
}

.diary-index__date {
  font-size: 14px;
  font-weight: 700;
 }

.diary-index__ballpark {
  font-size: 14px;
  font-weight: 400;
 }

 .diary-index__title {
  a {
    display: block;
  }
 }
