.game-result-table {
  width: 100%;
  font-size: .75rem;
  th,
  td {
    padding: .25rem;
  }
  th {
    background-color: $hover-background;
  }
  tbody th,
  tbody th:not([align]) {
    width: 5.5rem;
    min-width: 5.5rem;
    max-width: 5.5rem;
    white-space: nowrap;
  }
  tbody th,
  tbody th:not([align]) {
    text-align: right;
    padding: .25rem .5rem;
  }
  tbody td {
    text-align: left;
    padding: .25rem .5rem;
  }
}

.game-result-table.score-board-table {
  thead th {
    text-align: center;
  }
  tbody th {
    width: 6rem;
    white-space: nowrap;
    text-align: right;
    padding: .25rem .5rem;
  }
  tbody td {
    text-align: center;
    padding: .25rem;
  }
}
