.container:not(.is-max-desktop):not(.is-max-widescreen) {
  max-width: 42.5rem;
  padding: 0 1rem;
}

.index-container {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  background-color: #fffffc;
}

.page-header {
  background-color: #f3f3f2;
  color: #383c3c;
  padding: 0.75rem 0;
}

.page-body {
  color: #383c3c;
  padding: 1rem 0;
}

.column li {
  font-size: small;

  a {
    text-decoration-line: underline;
  }
}

.tabs ul {
  color: #383c3c;

  .is-active a {
    color: #494a41;
  }

  a {
    color: #adadad;
  }

}

#error_explanation {
  h2 {
    font-size: small;
  }

  li {
    font-size: small;
  }
}
