.container:not(.is-max-desktop):not(.is-max-widescreen) {
  max-width: 42.5rem;
  padding: 0 1rem;
}

.plus {
  border-radius: 50px;
}

.game-card-column {
  padding: 0.25rem;
  border-bottom: solid #adadad;
  border-width: 1px;
  font-size: 14px;
}

.edit-information {
  font-size: 12px;
}

.password-information {
  font-size: 12px;
  font-weight: 700;

  i {
  color: #f14668;
  }
}

.forgot-password {
  font-size: 12px;
}

#error_explanation {
  h2 {
    font-size: small;
  }

  li {
    font-size: small;
  }
}
