.container:not(.is-max-desktop):not(.is-max-widescreen) {
  max-width: 42.5rem;
  padding: 0 1rem;
}

.plus {
  border-radius: 50px;
}

.edit-information {
  font-size: 12px;
  background-color: $primary;
  color: white;
  padding: .5rem 0;
  &.is-danger {
    background-color: $danger;
  }
}

.forgot-password {
  font-size: 12px;
}

.error_explanation {
  background-color: $primary;
  color: #ffffff;
  padding: .5rem .25rem;

  h2 {
    font-size: 14px;
  }

  li {
    list-style: circle;
  }
}

.error_explanation__details {
  padding: 0 1.75rem;
}
