.container:not(.is-max-desktop):not(.is-max-widescreen) {
  max-width: 42.5rem;
  padding: 0 1rem;
}

.index-container {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  background-color: #fffffc;
}

.page-header {
  background-color: #f3f3f2;
  color: #383c3c;
  padding: 0.75rem 0;

  h1 {
    font-size: 18px;
    font-weight: 700;
  }
}

.page-body {
  color: #383c3c;
  padding: 1rem 0;

  a {
    color: #698aab;
  }
}

.column li {
  font-size: 12px;

  a {
    text-decoration-line: underline;
  }
}

.tabs ul {
  color: #383c3c;

  .is-active a {
    color: #494a41;
  }

  a {
    color: #adadad;
  }
}

.edit-information {
  font-size: 12px;
}

.password-information {
  font-size: 12px;
  font-weight: 700;

  i {
  color: #f14668;
  }
}

.forgot-password {
  font-size: 12px;
}

#error_explanation {
  h2 {
    font-size: small;
  }

  li {
    font-size: small;
  }
}
