.navbar {
  background-color: #f3f3f2;
  color: #203744;
}

.navbar-burger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu {
  background-color: #a9a9a9;
}

.navbar-item {
  display: flex;
  font-size: small;
}
