.navbar {
  background-color: transparent;
  color: #203744;
}

.navbar-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -1rem;
}

.navbar-brand {
  flex: 1;
  position: relative;
  margin-left: 0 !important;
}

.navbar-brand__logo-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-brand__logo-image {
  width: 2.25rem;
}
