.page-nav {
  margin-bottom: .75rem;
}

.page-body {
  padding: 1.25rem 0;

  .card-date-header {
    padding: 0.5rem;
    font-size: 14px;
  }

  .score-element, .record-element {
    padding: 0.25rem;
  }

  .game-card-columns {
    margin: 1rem 0.5rem;
  }

  .calendar-month-selector {
    font-size: 14px;
  }

  h2 {
    font-size: 16px;
    font-weight: 700;
  }

  p, li {
    font-size: 14px;
  }

}
