.is-giants {
  border-right: 3px solid #F2831F;
}

.is-yakult {
  border-right: 3px solid #068552;
}

.is-baystars {
  border-right: 3px solid #0096DD;
}

.is-dragons {
  border-right: 3px solid #084F8C;
}

.is-tigers {
  border-right: 3px solid #FFDD36;
}

.is-carp {
  border-right: 3px solid #C4041C;
}

.is-fighters {
  border-right: 3px solid #00558A;
}

.is-eagles {
  border-right: 3px solid #960229;
}

.is-loins {
  border-right: 3px solid #203256;
}

.is-marines {
  border-right: 3px solid #818181;
}

.is-buffaloes {
  border-right: 3px solid #43469A;
}

.is-hawks {
  border-right: 3px solid #FFB32B;
}
