.visitor-actions {
  margin-bottom: 2rem;
}

.visitor-actions__main-action {
  width: 26rem;
  max-width: 100%;
  margin: 0 auto;
}

.visitor-actions__sub-action {
  text-align: center;
  margin-top: .75rem;
  font-size: .875rem;
  a {
    text-decoration: underline;
  }
}
