= render partial: 'tabs', locals: { user: @user }

.title
  = t('title.edit_diary')

#js-edit-diary(data-diaries-path="#{diaries_path(username: current_user.username)}", data-diary-id="#{@diary.id}")
