
@import '../stylesheets/variables/colors';
@import '../stylesheets/variables/layout';

@import 'bulma';

@import '../stylesheets/styles/wrapper';
@import '../stylesheets/styles/main';
@import '../stylesheets/styles/navbar-burger';
@import '../stylesheets/styles/footer';
@import '../stylesheets/styles/table';
@import '../stylesheets/styles/overview';
@import '../stylesheets/styles/visitor-actions';
@import '../stylesheets/styles/score-board';
@import '../stylesheets/styles/record';
@import '../stylesheets/styles/tabs';
@import '../stylesheets/styles/diaries-index';
