body {
.notice {
  background-color: #fbfaf5;
  }
}

h1 {
  font-size: x-large;
  font-weight: bold;
}

h2 {
  font-size: large;
  font-weight: bold;
  padding: 0.5rem 0;
}

a {
  color: #494a41;
}

.container {
  background-color: #fbfaf5;
  padding: 0 1rem;

  .overview {
    padding: 3rem 0;
  }

  ol, ul{
    font-size: small;
    padding: 0 1rem;
  }

  li {
    padding: 0.25rem 0;

    li {
      padding: 0;
    }
  }

  p {
    font-size: small;
    padding: 0.25rem 0;
  }
}

.index-container {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.notification {
  padding: 1rem;
}

.page-header {
  background-color: #fbfaf5;
  color: #383c3c;
  padding: 0.75rem 0;
}

.page-body {
  background-color: #fbfaf5;
  color: #383c3c;
  padding: 1rem 0;
}

.column li {
  font-size: small;

  a {
    text-decoration-line: underline;
  }
}

.tabs ul {
  background-color: #fbfaf5;
  color: #383c3c;

  .is-active a {
    color: #494a41;
  }

  a {
    color: #adadad;
  }

}

#error_explanation {
  h2 {
    font-size: small;
  }

  li {
    font-size: small;
  }
}
