.container {
  padding: 0 1rem;
}

.notification {
  padding: 1rem;
  // text-decoration: none;
}

.page-header {
  background-color: #ddd;
  padding: 0.75rem 0;
}

.page-body {
  padding: 1rem 0;
}

h2 {
  font-size: large;
  font-weight: bold;
}
