h1 {
  font-size: x-large;
  font-weight: bold;
}

h2 {
  font-size: large;
  font-weight: bold;
}

.container {
  padding: 0 1rem;
}

.notification {
  padding: 1rem;
}

.page-header {
  background-color: #ddd;
  padding: 0.75rem 0;
}

.page-body {
  padding: 1rem 0;
}

.column li {
  font-size: small;
}
