.navbar-burger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 1rem;
}

.page-header {
  background-color: #ddd;
  padding: 0.75rem 0;
}

.page-body {
  padding: 1rem 0;
}
