.navbar {
  background-color: #fbfaf5;
  color: #203744;
}

.navbar-burger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}
